<article>
    <h3><%= eventname %></h3>
    <ul>
        <li>Date: <%= date %></li>
        <li>Start: <%= start %></li>
        <li>End: <%= end %></li>
        <li>Location: <%= location %></li>
    </ul>
    <p><%- description %></p>
</article>