<div class="heading" id="heading-<%= contents %>">
<hr>
<% switch(heading) {
    case 1: %>
        <h1><%- contents %></h1>
    <% break
    case 2: %>
        <h2><%- contents %></h2>
    <% break
    case 3: %>
        <h3><%- contents %></h3>
    <% break
    case 4: %>
        <h4><%- contents %></h4>
    <% break
    case 5: %>
        <h5><%- contents %></h5>
    <% break
    case 6: %>
        <h6><%- contents %></h6>
    <% break
} %>
<hr>
</div>